{% extends "base.html" %}
{% load static %}

{% block title %} 
  This Post Title
{%endblock %}

{% block css_files %}
  <link rel="stylesheet" href="{% static "blog/post-detail.css" %}">
{% endblock %}

{% block content %}
  <section id="summary">
    <h2>Post Title</h2>
    <article>
      <img src="{% static "blog/images/mountains.jpg" %}" alt="Post Title" />
      <address>By Woojin</address>
      <div>Last updated on <time>July 10th</time></div>
    </article>
  </section>

  <main>
    <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem,
      mollitia aliquid quis optio dignissimos quam doloremque iure rem, amet neque
      quisquam distinctio cupiditate tempore. Eius, quasi! Quibusdam similique
      voluptatem ea?
    </p>
      <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem,
      mollitia aliquid quis optio dignissimos quam doloremque iure rem, amet neque
      quisquam distinctio cupiditate tempore. Eius, quasi! Quibusdam similique
      voluptatem ea?
    </p>
      <p>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatem,
      mollitia aliquid quis optio dignissimos quam doloremque iure rem, amet neque
      quisquam distinctio cupiditate tempore. Eius, quasi! Quibusdam similique
      voluptatem ea?
    </p>
  </main>
{% endblock %}
